<!DOCTYPE html>
<html>
<head>
  <title>Song retriever</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "song_retriever/application", media: "all" %>
  <%= javascript_include_tag "song_retriever/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
